*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
application/config/*
system/*
index.php
license.txt
css/icons/*
css/bootstrap.min.css
css/icons.min.css
css/londinium-theme.min.css
css/styles.min.css
fonts/*
images/colorpicker/*
images/demo/*
images/flags/*
images/forms/*
images/interfaces/*
images/background.html
images/collection.html
images/collection_hover.html
js/charts/*
js/globalize/*
js/plugins/*
js/application.js
js/application_blank.js
js/bootstrap.min.js
